nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color:white;
    background-color:blue;

}
nav-tabs .nav-item.show, .nav-tabs .nav-link {
    color: blue;
    background-color: white;
    border-color: gray;
    border-radius: 12px;
    padding-left: 350px;
    padding-right: 350px;
    margin-left: 80px;
    font-weight: bold;
    font-size: 22px;
    padding-top: 18px;
    padding-bottom: 18px;
}
.btn{
    margin-left: 450px;
    border-color: blue;
    color: blue;
    padding-left: 90px;
    padding-right: 90px;
    font-weight: bold;
    margin-top: 40px;
}
.btn:hover{
    color: white;
    background-color: blueviolet;
}
.datacontainer{
    padding-bottom: 150px;
}
