<app-header></app-header>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white; font-size: 25px;"> Loading... </p>
</ngx-spinner>

<div class="container-fluid" style="margin-top: 140px;">
  <div class=" text-primary m-4">
    <h3 class="fs-5 fw-bold">About Us</h3>
  </div>
  <div class="m-4">
    <p class="para fs-6">VirVit, a mordernized HR app for job seekers which was created by our perent company, Talent-Merged for job
      applications with our unique video resume functions you can hone and improve your video resume skills by uploading
      your video Resumes on VirViT so that it will hasten the employer selection process and increase the chances of
      companies responding to you.</p>
    <p class="fs-6">Your dream job is a click away! Get the app on your mobile</p>

    <div>
      <img class="img mb-5" src="./assets/google_store.png" alt="play store">
      <img class="img mb-5" src="./assets/ios_store.png" alt="ios store">
    </div>
    <p class="para fs-6">VirVit also assists employers to hasten their selection process. Employer also create a account at <a
        href="/">https://VirVit.sg/login</a> and search for suitable condidate. With VirVit, it make the hiring process
      easier,faster and more fun!</p>
</div>
<app-footer></app-footer>