<app-header></app-header>
<div class="container-fluid container2">
    <div>
        <div class="row">
            <p class=" mx-5 fs-4 mt-4">
                51 Goldhill plaza #21 - 10 Singapur<br />
                Tel: +65 64931133<br/>
                info@virvit.sg<br/>
            </p>
        </div>
    </div>
</div>
<ngb-carousel>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <div class="carousel-inner mt-5 mb-5">
                <button type="button" class="carousel-control-prev text-primary">
                    <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                    <span class="visually-hidden"></span>
                </button>
                <div class="carousel-item active d-flux m-2">
                    <div class="card rounded-5 p-3  mx-5">
                        <h6 class="text-primary mt-3 mb-3"> EDI Specialist, ITX</h6>
                        <p>
                            East <br>
                            SDG-7,000-8,000 <br>
                            4-5 Years Experience
                        </p>
                    </div>

                    <div class="card rounded-5 p-3   mx-4">
                        <h6 class="text-primary mt-3 mb-3">Technical Officer</h6>
                        <p>
                            South <br>
                            SDG-4,000-5,000 <br>
                            2-3 Years Experience
                        </p>

                    </div>

                    <div class="card rounded-5 p-3  mx-4">
                        <h6 class="text-primary mt-3 mb-3">Software Engineer</h6>
                        <p>
                            EAst <br>
                            SDG-7,000-8,000 <br>
                            4-5 Years Experience
                        </p>

                    </div>

                    <div class="card rounded-5 p-3   mx-5">
                        <h6 class="text-primary mt-3 mb-3">Computer Engineer</h6>
                        <p>
                            East <br>
                            SDG-7,000-8,000 <br>
                            4-5 Years Experience
                        </p>

                    </div>

                    <div class="card rounded-5 p-3  mx-4">
                        <h6 class="text-primary mt-3 mb-3">IT Network</h6>
                        <p>
                            West <br>
                            SDG-10,000-13,000 <br>
                            5-6 Years Experience
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <div class="carousel-inner mt-5 mb-5">
                <div class="carousel-item active d-flux m-2">
                    <div class="card rounded-5 p-3  mx-5">
                        <h6 class="text-primary mt-3 mb-3">App Developer</h6>
                        <p>
                            West <br>
                            SDG-10,000-13,000 <br>
                            5-6 Years Experience
                        </p>

                    </div>
                    <div class="card rounded-5 p-3  mx-5">
                        <h6 class="text-primary mt-3 mb-3">Web Developer</h6>
                        <p>
                            West <br>
                            SDG-10,000-13,000 <br>
                            5-6 Years Experience
                        </p>

                    </div>
                    <div class="card rounded-5 p-3  mx-4">
                        <h6 class="text-primary mt-3 mb-3">SDE-1</h6>
                        <p>
                            West <br>
                            SDG-10,000-13,000 <br>
                            5-6 Years Experience
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</ngb-carousel>
<app-footer></app-footer>