div.container2{
    background:linear-gradient(to right, lightblue,blue);
    margin-top: 140px;
}
@media (max-width: 767px){.carousel-inner .carousel-item >div{display: none}.carousel-inner .carousel-item >div:first-child{display: block}}.carousel-inner .carousel-item.active, .carousel-inner .carousel-item-next, .carousel-inner .carousel-item-prev{display: flex}@media (min-width: 768px){.carousel-inner .carousel-item-end.active, .carousel-inner .carousel-item-next{transform: translateX(25%)}.carousel-inner .carousel-item-start.active, .carousel-inner .carousel-item-prev{transform: translateX(-25%)}}.carousel-inner .carousel-item-end, .carousel-inner .carousel-item-start{transform: translateX(0)}

.card{
    width: 300px;
}
.card{
    width: 300px;
    height: 220px;
    cursor: pointer;
}
.card:hover{
    border-color: blue;
    transform: scale(1.05);
}
