<app-header></app-header>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white; font-size: 25px;"> Loading... </p>
  </ngx-spinner>
<div class="container-fluid container2">
    <div class="mx-5">
        <div class="row">
            <p class="fs-4 mt-4 lh-1">
                51 Goldhill plaza #21 - 10 Singapur<br />
                Tel: +65 64931133<br />
                info@virvit.sg<br />
            </p>
        </div>
    </div>
</div>
<ngb-carousel>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <div class="carousel-inner mt-5 mb-5">
                <button type="button" class="carousel-control-prev text-primary">
                    <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                    <span class="visually-hidden"></span>
                </button>
                <div class="carousel-item active d-flux m-2">
                    <div class="card rounded-5 p-3  mx-5">
                        <a class="text-primary mt-3 mb-3 fw-bold fs-6 text-decoration-none" routerLink="/login"> EDI
                            Specialist, ITX</a>
                        <p class="fs-6">
                            East <br>
                            SDG-7,000-8,000 <br>
                            4-5 Years Experience
                        </p>
                    </div>

                    <div class="card rounded-5 p-3   mx-4">
                        <a class="text-primary mt-3 mb-3 fw-bold fs-6 text-decoration-none"
                            routerLink="/login">Technical Officer</a>
                        <p class="fs-6">
                            South <br>
                            SDG-4,000-5,000 <br>
                            2-3 Years Experience
                        </p>

                    </div>

                    <div class="card rounded-5 p-3  mx-4">
                        <a class="text-primary mt-3 mb-3 fw-bold fs-6 text-decoration-none" routerLink="/login">Software
                            Engineer</a>
                        <p class="fs-6">
                            EAst <br>
                            SDG-7,000-8,000 <br>
                            4-5 Years Experience
                        </p>

                    </div>

                    <div class="card rounded-5 p-3   mx-5">
                        <a class="text-primary mt-3 mb-3 fw-bold fs-6 text-decoration-none" routerLink="/login">Computer
                            Engineer</a>
                        <p class="fs-6">
                            East <br>
                            SDG-7,000-8,000 <br>
                            4-5 Years Experience
                        </p>

                    </div>

                    <div class="card rounded-5 p-3  mx-4">
                        <a class="text-primary mt-3 mb-3 fw-bold fs-6 text-decoration-none" routerLink="/login">IT
                            Network</a>
                        <p class="fs-6">
                            West <br>
                            SDG-10,000-13,000 <br>
                            5-6 Years Experience
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="carousel-control-next text-primary">
            <span aria-hidden="true" class="carousel-control-next-icon"></span>
            <span class="visually-hidden"></span>
        </button>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <div class="carousel-inner mt-5 mb-5">
                <button type="button" class="carousel-control-prev text-primary">
                    <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                    <span class="visually-hidden"></span>
                </button>
                <div class="carousel-item active d-flux m-2">
                    <div class="card rounded-5 p-3  mx-5 fs-6">
                        <a class="text-primary mt-3 mb-3 fw-bold fs-6 text-decoration-none" routerLink="/login">App
                            Developer</a>
                        <p class="fs-6">
                            West <br>
                            SDG-10,000-13,000 <br>
                            5-6 Years Experience
                        </p>

                    </div>
                    <div class="card rounded-5 p-3  mx-5">
                        <a class="text-primary mt-3 mb-3 fw-bold fs-6 text-decoration-none" routerLink="/login">Web
                            Developer</a>
                        <p class="fs-6">
                            West <br>
                            SDG-10,000-13,000 <br>
                            5-6 Years Experience
                        </p>

                    </div>
                    <div class="card rounded-5 p-3  mx-4">
                        <a class="text-primary mt-3 mb-3 fw-bold fs-6 text-decoration-none"
                            routerLink="/login">SDE-1</a>
                        <p class="fs-6">
                            West <br>
                            SDG-10,000-13,000 <br>
                            5-6 Years Experience
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="carousel-control-next text-primary">
            <span aria-hidden="true" class="carousel-control-next-icon"></span>
            <span class="visually-hidden"></span>
        </button>
    </ng-template>
</ngb-carousel>
<app-footer></app-footer>