<app-header></app-header>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white; font-size: 25px;"> Loading... </p>
</ngx-spinner>
<div class="jobdetail p-5">
    <div class="row mb-4">
        <div class="col-6">
            <p class="text-primary fw-bold fs-4">{{jobdetails?.title}}</p>
            <p class="text-secondary fs-5 mt-4 fw-bold">{{jobdetails?.organisation_detail.name}}</p>
        </div>
        <div class="col-6 ">
            <div class="text-end">
                <button class="btn px-5 fs-6 py-1 border-primary rounded-3 text-primary fw-bold mb-3">Apply</button>
                <div class="date text-end fs-6 fw-bold text-secondary">Posted Date : {{jobdetails?.utimestamp}}
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid  border border-secondary rounded-3">
        <div class="row">
            <div class="col-6 mt-3">
                <h3 class="mx-2 text-secondary">Year of Experience : - {{jobdetails?.experiance_from}} -
                    {{jobdetails?.experiance_to}}</h3>
                <h3 class="mx-2 text-secondary">Location: {{jobdetails?.state_detail.name}}
                    {{jobdetails?.state_detail.country_detail.name}}</h3>
                <h3 class="mx-2 text-secondary">Qualification: {{jobdetails?.qualification_detail.title}}</h3>
                <h3 class="mx-2 text-secondary">Skills: {{jobdetails?.Skill}}</h3>
            </div>

            <div class="col-6 mt-3">
                <h3 class="text-secondary">Salary: - {{jobdetails?.min_salary
                    }} - {{jobdetails?.max_salary
                    }} SGD</h3>
                <h3 class="text-secondary">Job Type: {{jobdetails?.type}}</h3>
                <h3 class="text-secondary">Job Specialization: {{jobdetails?.specialization}}</h3>
            </div>
        </div>
    </div>
    <div class="container-fluid border border-secondary rounded-3 mt-5">
        <h1 class="text-primary mt-3 fw-bold">Job Description</h1>
        <p class="fs-6 text-secondary">
            {{jobdetails?.description}}
        </p>
    </div>
    <div class="container-fluid border border-secondary rounded-3 mt-5">
        <h1 class="text-primary mt-3 fw-bold mb-3">Skill Match</h1>
    </div>
</div>
<app-footer></app-footer>