<div class="container-fluid footer" style="position:fixed; bottom:0px;background-color:white;">
    <hr class="text-primary">
    <div class="row ">
        <div class='col-6 text-center'>
            <a class='text-decoration-none footer fs-6 mx-5' href='#'>Contact Us </a>
            <a class='text-decoration-none footer fs-6 mx-5'routerLink="/Editprofile">Privacy</a>
            <a class='text-decoration-none footer fs-6 mx-5'routerLink="/Changepassword">Terms & Conditions </a>
        </div>
        <div class=' social col-6 mb-2' >
            <a href='#' class="mx-2" > <img class="image" src='./assets/telegram.png' alt='telegram' ></a>
            <a href='#' > <img class='image' src='./assets/facebook.png' alt="facebook" ></a>
            <a href='#' class="mx-2"> <img class="image" src='./assets/youtube.png' alt="youtube" ></a>
            <a href='#'> <img class='image' src='./assets/instagram.png' alt='telegram' ></a>
            <a href='#' class="mx-2"> <img class="image me-2" src='./assets/linkedin.png' alt="linkedin" ></a>
        </div>
    </div>
</div>