<app-header></app-header>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white; font-size: 25px;"> Loading... </p>
</ngx-spinner>
<form [formGroup]="search2Form">
    <div class="row  container-fluid  container2">
        <div class="col-4">
            <input ngModel formControlName="title" type="text" class="form-control w-75 form1 mt-5 p-1 fs-5 text-center"
                value="" placeholder="Job Title,Skills or Keyword" required>
            <mat-icon class="searchicon">search</mat-icon>
            <!-- <span class="valid text-danger fs-5"
                *ngIf="submitted && search2Form.controls['title'].errors?.['required']">
                Job Title,Skills or Keyword is required
            </span> -->
        </div>
        <div class="col-4">
            <input ngForm formControlName="area" type="text" class="form-control form2 mt-5 p-1 fs-5 text-center"
                value="" placeholder="Area, City and Town" required>
            <mat-icon class="roomicon">room</mat-icon>
            <!-- <span class="fs-5 text-danger" *ngIf="submitted && search2Form.controls['area'].errors?.['required']">
                Area, City and Town is required
            </span> -->
        </div>
        <div class="col-2 mb-4">
            <button type="submit" class="btn1 mt-5  fs-5 rounded-3" (click)="onSubmit()">Search</button>
        </div>
        <div class="col-2">
            <button type="submit" class="btn1 mt-5  fs-5 rounded-3" (click)="ClearData()">Clear</button>
        </div>
    </div>
</form>
<div>
    <h1 class="text-primary mt-5 mx-5 fw-bold fs-4">
        Latest Job Openings
    </h1>
</div>
<div class="container-fluid mt-4">
    <div class="row border border-secondary rounded-4 mx-5">
        <div class="col-4 mt-4 text-center">
            <p class="para fs-3 mb-0 text-secondary">Welcom {{name?.fullname}}</p><br>
            <a class="updpro fs-6 mt-3" routerLink="/candidate/profile">Update Profile</a>
            <span><a class="fs-6 mt-3" routerLink="/candidate/profile">View Profile</a></span>
        </div>
        <div class="col-7 mx-5 mb-2">
            <div class="row mt-4">
                <div class="col-4 mt-5 fs-5 text-primary mb-2">
                    <mat-icon class="icon mx-1 text-black">turned_in</mat-icon>
                    <a class="text-decoration-none" [routerLink]="['/candidate/jobapplication']"
                        [queryParams]="{link: 'savejob' }">Saved Jobs</a>
                </div>
                <div class="col-3 mt-5 fs-5 text-primary mb-2">
                    <mat-icon class="icon mx-1 text-black">verified_user</mat-icon>
                    <a class="text-decoration-none" routerLink="/candidate/jobapplication">Job Applications</a>
                </div>
                <div class="col-5 mt-5 fs-5 text-primary text-center mb-2">
                    <mat-icon class="icon mx-1 text-black">notifications</mat-icon>
                    <a class="text-decoration-none" routerLink="/candidate/notifications">Job Alerts</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="mx-5 mt-5">
        <div class="container-fluid ">
            <div class="row d-flex justify-content-between">
                <div class="col-md-6 mt-5 " *ngFor="let item of searchdata">
                    <div class="border border-primary rounded-3">
                        <div class="row">
                            <div class="col-6">
                                <div class="mx-3 fw-bold fs-4 mt-3 text-primary">
                                    <a class="text-decoration-none"
                                        [routerLink]="['/candidate/job-detail/',this.iddata]">{{item.organisation_detail.description}}</a>
                                </div>
                                <div class="mx-3 mt-2 fw-bold text-primary">
                                    {{item.title}}
                                </div>
                                <div class="text-secondary mt-1 mx-3 mb-2">
                                    {{item.experiance_from}} - {{item.experiance_to}} years Experience
                                </div>
                                <div class="text-secondary mt-1 mx-3 mb-2">
                                    SGD - {{item.min_salary}} - {{item.max_salary}}
                                </div>
                            </div>
                            <div class="col-3">

                                <button type="submit" class="btn mt-5 fs-5 bg-primary rounded-3 text-white px-4"
                                    (click)="apply(item.id)">Apply</button>
                                <!-- <button type="submit" [disabled]="item.is_applied==false" class="btn mt-5 fs-5 bg-primary rounded-3 text-white px-4">Applied</button> -->
                            </div>
                            <div class="col-3">
                                <button type="submit" class="btn mt-5 fs-5 bg-primary rounded-3 text-white px-4"
                                    (click)="save(item.id)">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <img src="./assets/candidate_home.png" alt="candidate"
        style=" width:1870px; margin-left: 15px; margin-top: 20px; margin-bottom: 140px;">
</div>
<app-footer></app-footer>