<app-header></app-header>
<div class="row  container-fluid  container2">
    <div class="col-6">
        <input type="text" class="form-control w-50 form1 mt-5 p-2 fs-5 text-center"
            placeholder="Job Title,Skills or Keyword">
    </div>
    <div class="col-4">
        <input type="text" class="form-control form2 mt-5 p-2 fs-5 text-center mb-5" placeholder="Area, City and Town">
    </div>
    <div class="col-2 mb-4">
        <button type="submit" class="btn1 mt-5  fs-5 rounded-3">Search</button>
    </div>
</div>
<div>
    <h3 class="text-primary mt-5 mx-5">
        Latest Job Openings
    </h3>
</div>

<div class="container-fluid mt-4">
    <div class="row border border rounded-5 mx-5">
        <div class="col-4 mt-3 text-center">
            <p class="para fs-3 mb-0 mt-1 text-danger">Welcom  {{name?.fullname}}</p><br>
            <a class="updpro mx-3" routerLink="/candidate/profile">Update Profile</a>
            <span><a class="viewpro" routerLink="/candidate/profile">View Profile</a></span>
        </div>
        <div class="col-7 mx-5 mb-5">
            <div class="row mt-4">
                <div class="col-4 mt-5 fs-5 text-primary">
                    <p class="para">Saved Jobs</p>
                </div>
                <div class="col-3 mt-5 fs-5 text-primary">
                    <p class="para">Job Applications</p>
                </div>
                <div class="col-5 mt-5 fs-5 text-primary text-center">
                    <p class="para">Job Alerts</p>
                </div>
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>