button.btn{
    border-radius: 8px;
    margin: 70px 10px;
    padding: 6px 70px;
    cursor: pointer;
    background-color: blue;
    color: white;
}
button.btn:hover{
    background-color: white;
    color: blue;
    border-color: blue;
}
.btn1 {
    padding-right: 4.5rem;
    padding-left: 4.5rem;
    background-color: white;
    color: blue;
    padding-top: 11px;
    padding-bottom: 11px;
    border-color: blue;
}

.btn1:hover {
    background-color: blue;
    color: white;
    border-color: blue;
}
div.container2{
    background:linear-gradient(to right, blue,lightblue);
    margin-top: 140px;
    height:170px ;
}
.card{
    cursor: pointer;
    width: 300px;
    height: 220px;
}
.card:hover{
    border-color: blue;
    transform: scale(1.05);
}
.form1 {
    margin-left: 280px;
}
.form2 {
    width: 75%;
}
.updpro{
    margin-left: -60px;
    margin-right: 30px;
}
.valid{
    margin-left: 280px;
}
.searchicon{
    position: absolute;
    margin-left: 300px;
    margin-top: -40px;
    font-size: 30px;
    color: blue;
}
.roomicon{
    position: absolute;
    margin-left: 50px;
    margin-top: -40px;
    font-size: 27px;
    color: blue;
}
.icon{
    font-size: 25px;
}