<app-header></app-header>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white; font-size: 25px;"> Loading... </p>
</ngx-spinner>
<div class="row m-0">
    <div class="col-md-5">
        <div>
            <div class="container border border-primary rounded-4 w-75">
                <h1 class="text-primary text-center fw-bold mt-3 fs-4">Forgot Password !</h1>
                <div class=" mx-5" [formGroup]="passwordForm">
                    <input
                        class="form-control mt-5 shadow-none border border-3 border-start-0 border-end-0 border-top-0"
                        type="text" formControlName="email" placeholder="Email" required>
                    <span class="text-danger fs-6"
                        *ngIf="submitted && passwordForm.controls.email.errors?.['required']">
                        username is required
                    </span>
                    <button
                        class="btn text-white bg-primary border-none fs-6 fw-bold mt-4 mb-3 border border-primary rounded-3"
                        type="submit" (click)="onSubmit()">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <img class="img mx-5 h-75 w-75" src="./assets/Candidate-forget-password.jpg" alt="password">
    </div>
</div>
<app-footer></app-footer>