<div class="container-fluid ">
    <div class="row header ">
        <div class="col-5 mt-4">
            <img src="../assets/virvit_logo.png" alt="logo"
                style="height:90px; width: 110px; margin-left: 1px; font-weight:dark;">
            <span class="heading text-primary fs-5 fw-bold"> <a class="text-decoration-none " routerLink="/candidate">
                    Building
                    Your Dreams</a></span>
        </div>
        <div class="col-7 righthead text-end">
            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-outline-primary px-4 mx-4 bg-primary text-white"
                    id="dropdownBasic1" ngbDropdownToggle>
                    {{ name?.fullname }}
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button class="name" ngbDropdownItem routerLink="/candidate/profile">Edit Profile</button>
                    <button class="name" ngbDropdownItem routerLink="/candidate/jobapplication">Job Applications</button>
                    <button class="text-danger fw-bold" ngbDropdownItem routerLink="">Logout</button>
                </div>
            </div>
        </div>
        <hr class="text-primary fw-bold">
    </div>
</div>