<div class="container-fluid">
    <div class="row">
    <div class="col-2 ">
        <button class="shadow px-4 btn bg-white text-primary mt-4" type="button">Edit Profile</button><br>
        <button class="btn bg-primary text-white mt-4">Privacy Setting</button>
    </div>
   
    <div class="col-4">    
        <form class="form">
            <input class="fs-5 mt-4 shadow-none border border-3 border-start-0 border-end-0 border-top-0" type="text" placeholder="Current Password       -   ************"><br>
         </form>
         <div class="mx-5">
         <button class="btn btn-primary bg-primary text-white px-5 mt-5 ">Change Password</button>
         </div>
    </div>
    <div class="col-6 ">
           <img  class="image" src="./assets/change-password.png" alt="">
    </div>

</div>
