<app-header></app-header>
<div class="container-fluid fullform" style="margin-top: 150px;">
    <div class="row">
        <div class="col-2">
            <button class="shadow px-4 btn bg-primary text-white mt-4" type="button"> Edit Profile</button><br>
            <button class="btn bg-white shadow text-primary mt-4" type="button" routerLink="/candidate/privacy">Privacy
                Setting</button>
        </div>
        <div class="col-10">
            <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-9">
                        <div class="form">
                            <div class="row">
                                <div class="col-6">
                                    <input type="text" formControlName="firstname"
                                        class="form-control  mt-4 shadow-none border border-3 border-start-0 border-end-0 border-top-0"
                                        value="" placeholder="First Name" required>
                                    <span class="text-danger fs-6"
                                        *ngIf="submitted && profileForm.controls['firstname'].errors?.['required']">
                                        First Name is required
                                    </span>
                                </div>
                                <div class="col-6">
                                    <input type="text" formControlName="lastname"
                                        class="form-control  mt-4 shadow-none border border-3 border-start-0 border-end-0 border-top-0"
                                        value="" placeholder="Last Name">
                                    <span class="text-danger fs-6"
                                        *ngIf="submitted && profileForm.controls['lastname'].errors?.['required']">
                                        Last Name is required
                                    </span>
                                </div>

                            </div>

                            <input type="text" formControlName="mobile"
                                class="form-control  mt-4 shadow-none border border-3 border-start-0 border-end-0 border-top-0"
                                value="" placeholder="Phone" [readOnly]="true">
                            <span class="text-danger fs-6"
                                *ngIf="submitted && profileForm.controls['mobile'].errors?.['required']">
                                Phone Number is required
                            </span>
                            <input type="email" formControlName="email"
                                class="form-control  mt-4 shadow-none border border-3 border-start-0 border-end-0 border-top-0"
                                value="" placeholder="Email" [readOnly]="true">
                            <span class="text-danger fs-6"
                                *ngIf="submitted && profileForm.controls['email'].errors?.['required']">
                                Email is required
                            </span>
                            <input type="text" formControlName="designation"
                                class="form-control  mt-4 shadow-none border border-3 border-start-0 border-end-0 border-top-0"
                                placeholder="Designation">
                            <span class="text-danger fs-6"
                                *ngIf="submitted && profileForm.controls['designation'].errors?.['required']">
                                Designation is required
                            </span>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <select
                                    class="form-select mt-4 shadow-none border border-3 border-start-0 border-end-0 border-top-0">
                                    <option selected>{{namevalue.gender}}</option>
                                    <option value="1">Male</option>
                                    <option value="2">Female</option>
                                </select>
                                <input formControlName="experience" type="number" placeholder="Experience"
                                    class="form-control  mt-4 shadow-none border border-3 border-start-0 border-end-0 border-top-0">

                                <select formControlName="jobpreference"
                                    class="form-select text-black-50  mt-4 shadow-none border border-3 border-start-0 border-end-0 border-top-0">
                                    <option value="">Job Preference</option>
                                    <option *ngFor="let preference of preferencelist" [value]="preference.id">
                                        {{preference.name}}</option>
                                </select>
                                <span class="text-danger fs-6"
                                    *ngIf="submitted && profileForm.controls['jobpreference'].errors?.['required']">
                                    Job Preference is required
                                </span>
                            </div>
                            <div class="col-6">
                                <input type="date" formControlName="dateofbirth" id="birthdate" value=""
                                    class="form-select mt-4 shadow-none border border-3 border-start-0 border-end-0 border-top-0">
                                <span class="text-danger fs-6"
                                    *ngIf="submitted && profileForm.controls['dateofbirth'].errors?.['required']">
                                    Date of Birth is required
                                </span>
                                <select
                                    class="form-select mt-4 shadow-none border border-3 border-start-0 border-end-0 border-top-0">
                                    <option selected>{{namevalue.employment_status}}</option>
                                    <option value="1">Part Time</option>
                                    <option value="2">Full Time</option>
                                    <option value="3">Contract</option>
                                    <option value="4">Remote</option>
                                </select>
                                <span class="text-danger fs-6"
                                    *ngIf="submitted && profileForm.controls['employmentstatus'].errors?.['required']">
                                    Employment Status is required
                                </span>
                                <div class="row">
                                    <div class="col-6">
                                        <input formControlName="salary"
                                            class="form-control mt-4 shadow-none border border-3 border-start-0 border-end-0 border-top-0">
                                        <span class="text-danger fs-6"
                                            *ngIf="submitted && profileForm.controls['salary'].errors?.['required']">
                                            Salary is required
                                        </span>
                                    </div>
                                    <div class="col-6">
                                        <select formControlName="currency"
                                            class=" mt-4 px-5 py-2 shadow-none border rounded-3">
                                            <option value="">Currency</option>
                                            <option *ngFor="let currency of currencylist" [value]="currency.id">
                                                {{currency.symbol}}</option>
                                        </select>
                                        <span class="text-danger fs-6"
                                            *ngIf="submitted && profileForm.controls['currency'].errors?.['required']">
                                            Currency is required
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div>
                            <img [src]="url" alt="img" class="image rounded-circle mb-4"><br>
                            <input class="d-none" type="file" id="uploadimage" (change)="onSelectFile($event)">
                            <label for="uploadimage">
                                <mat-icon class="imageicon text-primary fs-5" aria-hidden="false"
                                    aria-label="Example icon" fontIcon="open_in_browser"></mat-icon>
                            </label>
                        </div>
                        <div>
                            <button class=" btn5 text-white bg-primary rounded-4 fs-6 py-2 px-5 border border-none"
                                type="submit" data-tongle="button">Save</button>
                        </div>
                    </div>

                    <input type="text" formControlName="aboutme"
                        class="form-control  mt-4 shadow-none border border-3 border-start-0 border-end-0 border-top-0"
                        value="" placeholder="About me">
                    <span class="text-danger fs-6"
                        *ngIf="submitted && profileForm.controls['aboutme'].errors?.['required']">
                        About Me is required
                    </span>

                    <div class="row">
                        <div class="col-6">
                            <div class="border border-primary rounded-3 mt-4">
                                <div class="mx-5 mb-4">
                                    <p class=" mt-4 fs-6">
                                        Education
                                        <span class="d-flex justify-content-end">
                                            <mat-icon class="text-primary fs-5" aria-hidden="false"
                                                aria-label="Example home icon" fontIcon="add_circle"
                                                (click)=addeducation()></mat-icon>
                                        </span>
                                    </p>
                                    <hr class="pb-3 fw-bold text-primary">

                                    <div formArrayName="education">
                                        <div *ngFor="let eduForm of education.controls; let i=index">
                                            <div [formGroupName]="i"
                                                class="container border border-primary rounded-5 m-4">

                                                <div class="form">
                                                    <p class="text-primary fs-4 mx-2 mt-3">
                                                        Education!
                                                        <span class="d-flex justify-content-end">
                                                            <mat-icon class="text-primary fs-5" aria-hidden="false"
                                                                aria-label="Example home icon" fontIcon="cancel"
                                                                (click)=removeedu(i)>
                                                            </mat-icon>
                                                        </span>
                                                    </p>
                                                    <input type="hidden" formControlName="id">
                                                    <input type="text" formControlName="title"
                                                        class="form-control  mt-4 shadow-none border border-3 border-start-0 border-end-0 border-top-0"
                                                        placeholder="Title">

                                                    <input type="text" formControlName="university"
                                                        class="form-control  mt-4 shadow-none border border-3 border-start-0 border-end-0 border-top-0"
                                                        placeholder="University">
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <select formControlName="country" (change)="getcountry($event)"
                                                            class="form-select text-black-50  mt-4 shadow-none border border-3 border-start-0 border-end-0 border-top-0">
                                                            <option value="">Country</option>
                                                            <option *ngFor="let country of countrylist"
                                                                [value]="country.id">
                                                                {{country.name}}</option>
                                                        </select>
                                                        <input type="date" formControlName="start_date"
                                                            class="form-control  mt-4 shadow-none border border-3 border-start-0 border-end-0 border-top-0"
                                                            placeholder="Start Date">
                                                    </div>
                                                    <div class="col-6 mb-5">
                                                        <select formControlName="state"
                                                            class="form-select text-black-50  mt-4 shadow-none border border-3 border-start-0 border-end-0 border-top-0">
                                                            <option value="">State</option>
                                                            <option *ngFor="let state of statelist" [value]="state.id">
                                                                {{state.name}}</option>
                                                        </select>
                                                        <input type="date" formControlName="end_date"
                                                            class="form-control  mt-4 shadow-none border border-3 border-start-0 border-end-0 border-top-0"
                                                            placeholder="End Date">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <select formControlName="country"
                                class="form-select text-black-50 mt-4 shadow-none border border-3 border-start-0 border-end-0 border-top-0">
                                <option>Country</option>
                                <option *ngFor="let country of countrylist" [value]="country.id">
                                    {{country.name}}</option>
                            </select>
                            <span class="text-danger fs-6"
                                *ngIf="submitted && profileForm.controls['country'].errors?.['required']">
                                Country is required
                            </span>
                            <mat-select formControlName="skill"
                                class="form-select text-black-50 mt-4 shadow-none border border-3 border-start-0 border-end-0 border-top-0"
                                placeholder="Skills" [multiple]="true">

                                <mat-option *ngFor="let skill of skillslist " [value]="skill.id">
                                    {{skill.name}}
                                </mat-option>
                            </mat-select>
                            <span class="text-danger fs-6"
                                *ngIf="submitted && profileForm.controls['skill'].errors?.['required']">
                                Skills is required
                            </span>
                        </div>
                        <div class="col-6">
                            <div class="border border-primary rounded-3 mt-4 mb-5">
                                <div class="mx-5">
                                    <p class=" mt-4 fs-6">
                                        Work Experience
                                        <span class="d-flex justify-content-end">
                                            <mat-icon class="text-primary fs-5" aria-hidden="false"
                                                aria-label="Example home icon" fontIcon="add_circle" (click)=addwork()>
                                            </mat-icon>
                                        </span>
                                    </p>
                                    <hr class="pb-4 text-primary fw-bold">
                                    <div formArrayName="workexperience">
                                        <div *ngFor="let workForm of workexperience.controls; let j=index"
                                            [formGroupName]="j">
                                            <div class="container border border-primary rounded-5 m-4">
                                                <div class="form">
                                                    <p class="text-primary fs-4 mx-2 mt-3">
                                                        Work Experience!
                                                        <span class="d-flex justify-content-end">
                                                            <mat-icon class="text-primary fs-5" aria-hidden="false"
                                                                aria-label="Example home icon" fontIcon="cancel"
                                                                (click)=removework(j)></mat-icon>
                                                        </span>
                                                    </p>
                                                    <select type="text" formControlName="organisation"
                                                        class="form-control  mt-4 shadow-none border border-3 border-start-0 border-end-0 border-top-0">
                                                        <option value="">Organisation</option>
                                                        <option *ngFor="let organisation of organisationlist"
                                                            [value]="organisation.id">
                                                            {{organisation.name}}</option>
                                                    </select>
                                                    <input type="text" formControlName="designation"
                                                        class="form-control  mt-4 shadow-none border border-3 border-start-0 border-end-0 border-top-0"
                                                        placeholder="Designation">
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <input type="date" formControlName="startdate"
                                                            class="form-control  mt-4 shadow-none border border-3 border-start-0 border-end-0 border-top-0"
                                                            placeholder="Start Date">
                                                        <input type="text" formControlName="currentlyworking"
                                                            class="form-control mt-4 shadow-none border border-3 border-start-0 border-end-0 border-top-0"
                                                            placeholder="Currently working">
                                                    </div>
                                                    <div class="col-6 mb-5">
                                                        <input type="date" formControlName="enddate"
                                                            class="form-control  mt-4 shadow-none border border-3 border-start-0 border-end-0 border-top-0"
                                                            placeholder="End Date">
                                                        <select formControlName="employment_status"
                                                            class="form-select text-black-50  mt-4 shadow-none border border-3 border-start-0 border-end-0 border-top-0">
                                                            <option value="">Employment Status</option>
                                                            <option value="1">Part Time</option>
                                                            <option value="2">Full Time</option>
                                                            <option value="3">Contract</option>
                                                            <option value="4">Remote</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-6">
                </div>
                <div class="col-6">
                    <div class="resume border border-primary rounded-3">
                        <div class="pt-3 pb-3">
                            <input type="file" id="resume" class="form-control resume d-none text-center mt-5 "
                                (change)="resumeupload($event)">
                            <label class="text-primary resume d-flex justify-content-center mb-4 mt-3"
                                for="resume">Upload
                                Resume Here
                                <mat-icon class="text-primary fs-5 mx-2" aria-hidden="false" aria-label="Example icon"
                                    fontIcon="attachment"></mat-icon>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="container border border-primary rounded-3 mt-4">
                        <div class="pt-3 pb-3">
                            <input type="file" id="video" class="form-control resume d-none text-center mt-5 "
                                (change)="videoresume($event)">
                            <label class="text-primary resume d-flex justify-content-center mb-4 mt-3" for="video">Video
                                Resume
                                <mat-icon class="text-primary fs-5 mx-2" aria-hidden="false" aria-label="Example icon"
                                    fontIcon="upload"></mat-icon>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="container5 border border-primary rounded-3">
                        <div class="pt-3 pb-3">
                            <input type="file" id="testimonial" class="form-control resume d-none text-center mt-5"
                                (change)="videotestimonial($event)">
                            <label class="text-primary resume d-flex justify-content-center mb-4 mt-3"
                                for="testimonial">Video
                                Testimonial
                                <mat-icon class="text-primary fs-5 mx-2" aria-hidden="false" aria-label="Example icon"
                                    fontIcon="upload"></mat-icon>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="helpdiv mt-4">
                <a class="help fw-bold  fs-6" href="#">Need Help?</a>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>