.fullform{
    overflow-x: hidden;
}
.image{
    width: 180px;
    height: 180px;
    margin-top: 80px;
    margin-left: 100px;
}
.edit{
    margin-left: 140px;
}
.container1{
    border-color: blue;
}
.help{
    margin-bottom: 120px;
    margin-left: 1035px;
}
div select.salary:hover{
  color: blue;
}
.container5{
    margin-top: 35px;
}