<app-header></app-header>
<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="row  container-fluid  container2">
        <div class="col-6">
            <input ngModel formControlName="title" type="text" class="form-control w-50 form1 mt-5 p-1 fs-5 text-center"
                value="" placeholder="Job Title,Skills or Keyword" required>
            <mat-icon class="searchicon">search</mat-icon>
            <!-- <span class="valid text-danger fs-5" *ngIf="submitted && searchForm.controls['title'].errors?.['required']">
                Job Title,Skills or Keyword is required
            </span> -->
        </div>
        <div class="col-4">
            <input ngForm formControlName="area" type="text" class="form-control form2 mt-5 p-1 fs-5 text-center"
                value="" placeholder="Area, City and Town" required>
            <mat-icon class="roomicon">room</mat-icon>
            <!-- <span class="valid2 fs-5 text-danger" *ngIf="submitted && searchForm.controls['area'].errors?.['required']">
                Area, City and Town is required
            </span> -->
        </div>
        <div class="col-2 mb-4">
            <button type="submit" class="btn1 mt-5  fs-5 rounded-3" (click)="showdiv()">Search</button>
        </div>
    </div>
</form>
<div>
    <h1 class="text-primary mt-5 mx-5 fw-bold fs-4">
        Latest Job Openings
    </h1>
</div>
<div>
    <div class=" mx-5 mt-5">
        <div class="container-fluid ">
            <div class="row d-flex justify-content-between">
                <div class="col-md-6 mt-5 " *ngFor="let item of searchkey">
                    <div class="border border-primary rounded-3">
                        <div class="row">
                            <div class="col-6">
                                <div class="mx-3 fw-bold fs-4 mt-3 text-primary">
                                    <a class="text-decoration-none"
                                        routerLink="/login">{{item.organisation_detail.description}}</a>
                                </div>
                                <div class="mx-3 mt-2 fw-bold text-primary">
                                    {{item.title}}
                                </div>
                                <div class="text-secondary mt-1 mx-3 mb-2">
                                    {{item.experiance_from}} - {{item.experiance_to}} years Experience
                                </div>
                                <div class="text-secondary mt-1 mx-3 mb-2">
                                    SGD - {{item.min_salary}} - {{item.max_salary}}
                                </div>
                            </div>
                            <div class="col-3">

                                <button type="submit" class="btn mt-5 fs-5 bg-primary rounded-3 text-white px-4"
                                    routerLink="/login">Apply</button>
                            </div>
                            <div class="col-3">
                                <button type="submit" class="btn mt-5 fs-5 bg-primary rounded-3 text-white px-4"
                                    routerLink="/login">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div [hidden]="show" class="mb-5">
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <div class="carousel-inner mt-5 mb-5">
                    <button type="button" class="carousel-control-prev text-primary">
                        <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                        <span class="visually-hidden"></span>
                    </button>
                    <div class="carousel-item active">
                        <div class="" *ngFor="let item of jobsdata">
                            <div class="card rounded-5 p-3  mx-5">
                                <a class="text-primary mt-3 mb-3 fw-bold fs-6 text-decoration-none"
                                    routerLink="/login">{{item.title}}</a>
                                <h3>
                                    {{item.state_detail.name}} {{item.state_detail.country_detail.name}}
                                </h3>
                                <h3> SGD - {{item.min_salary}}-{{item.max_salary}} </h3>
                                <h3>
                                    {{item.experiance_from}} - {{item.experiance_to}} Years Experience
                                </h3>
                            </div>
                        </div>

                        <!-- <div class="card rounded-5 p-3   mx-4">
                            <a class="text-primary mt-3 mb-3 fw-bold fs-6 text-decoration-none"
                                routerLink="/login">Technical Officer</a>
                            <p class="fs-6">
                                South <br>
                                SDG-4,000-5,000 <br>
                                2-3 Years Experience
                            </p>

                        </div> -->

                        <!-- <div class="card rounded-5 p-3  mx-4">
                            <a class="text-primary mt-3 mb-3 fw-bold fs-6 text-decoration-none"
                                routerLink="/login">Software Engineer</a>
                            <p class="fs-6">
                                EAst <br>
                                SDG-7,000-8,000 <br>
                                4-5 Years Experience
                            </p>

                        </div> -->

                        <!-- <div class="card rounded-5 p-3   mx-5">
                            <a class="text-primary mt-3 mb-3 fw-bold fs-6 text-decoration-none"
                                routerLink="/login">Computer Engineer</a>
                            <p class="fs-6">
                                East <br>
                                SDG-7,000-8,000 <br>
                                4-5 Years Experience
                            </p>

                        </div> -->

                        <!-- <div class="card rounded-5 p-3  mx-4">
                            <a class="text-primary mt-3 mb-3 fw-bold fs-6 text-decoration-none" routerLink="/login">IT
                                Network</a>
                            <p class="fs-6">
                                West <br>
                                SDG-10,000-13,000 <br>
                                5-6 Years Experience
                            </p>

                        </div> -->
                    </div>
                </div>
            </div>
            <button type="button" class="carousel-control-next text-primary">
                <span aria-hidden="true" class="carousel-control-next-icon"></span>
                <span class="visually-hidden"></span>
            </button>
        </ng-template>
        <!-- <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <div class="carousel-inner mt-5 mb-5">
                    <button type="button" class="carousel-control-prev text-primary">
                        <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                        <span class="visually-hidden"></span>
                    </button>
                    <div class="carousel-item active d-flux m-2">
                        <div class="card rounded-5 p-3  mx-5 fs-6">
                            <a class="text-primary mt-3 mb-3 fw-bold fs-6 text-decoration-none" routerLink="/login">App
                                Developer</a>
                            <p class="fs-6">
                                West <br>
                                SDG-10,000-13,000 <br>
                                5-6 Years Experience
                            </p>

                        </div>
                        <div class="card rounded-5 p-3  mx-5">
                            <a class="text-primary mt-3 mb-3 fw-bold fs-6 text-decoration-none" routerLink="/login">Web
                                Developer</a>
                            <p class="fs-6">
                                West <br>
                                SDG-10,000-13,000 <br>
                                5-6 Years Experience
                            </p>

                        </div>
                        <div class="card rounded-5 p-3  mx-4">
                            <a class="text-primary mt-3 mb-3 fw-bold fs-6 text-decoration-none"
                                routerLink="/login">SDE-1</a>
                            <p class="fs-6">
                                West <br>
                                SDG-10,000-13,000 <br>
                                5-6 Years Experience
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="carousel-control-next text-primary">
                <span aria-hidden="true" class="carousel-control-next-icon"></span>
                <span class="visually-hidden"></span>
            </button>
        </ng-template> -->
    </ngb-carousel>
</div>

<app-footer></app-footer>