<app-header></app-header>
<ul ngbNav #nav="ngbNav" class="tabs nav-tabs" style="margin-top: 160px;border:none">
    <li ngbNavItem>
        <a ngbNavLink>Candidate Signup</a>
        <ng-template ngbNavContent>
            <div class="container-fluid">
                <div class="row" style="margin: top 60px;">
                    <div class="col-4">
                        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                            <div class="form mx-5">
                                <input ngModel type="text" formControlName="firstname"
                                    class="form-control mt-4 shadow-none border border-3 border-start-0 border-end-0 border-top-0"
                                    placeholder="First Name" required>
                                <span class="text-danger"
                                    *ngIf="submitted && registerForm.controls.firstname.errors?.['required']">
                                    First Name is required
                                </span>
                                <input ngModel type="text" formControlName="lastname"
                                    class="form-control  mt-4 shadow-none border border-3 border-start-0 border-end-0 border-top-0"
                                    placeholder="Last Name" required>
                                <span class="text-danger"
                                    *ngIf="submitted && registerForm.controls.lastname.errors?.['required']">
                                    Last Name is required
                                </span>
                                <input ngModel [email]="true" type="email" formControlName="email"
                                    class="form-control  mt-4 shadow-none border border-3 border-start-0 border-end-0 border-top-0"
                                    placeholder="Email" required>
                                <div> <span class="text-danger"
                                        *ngIf="submitted && registerForm.controls.email.errors?.['required']">
                                        email is required
                                    </span>
                                    <div class="text-danger" *ngIf="submitted && signupFormControl.email.errors">Email
                                        must be a valid
                                        email address
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <select formControlName="gender"
                                            class="form-select text-black-50  mt-4 shadow-none border border-3 border-start-0 border-end-0 border-top-0"
                                            required>
                                            <option value="">Gender</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                        <span class="text-danger"
                                            *ngIf="submitted && registerForm.controls.gender.errors?.['required']">
                                            Gender is required
                                        </span>
                                    </div>
                                    <div class="col-6">
                                        <input ngModel formControlName="birthdate" type="date" id="birthdate"
                                            class="form-control text-black-50  mt-4 shadow-none border border-3 border-start-0 border-end-0 border-top-0"
                                            placeholder="Date of Birth" required>
                                        <!-- <label
                                            class=" form-control mt-4 fs-6 text-black-50 shadow-none border border-3 border-start-0 border-end-0 border-top-0"
                                            for="birthdate">Date of Birth
                                            <mat-icon class="dateicon1 fs-5 text-primary" aria-hidden="false"
                                                aria-label="Example icon" fontIcon="calendar_today"></mat-icon>
                                        </label> -->
                                        <span class="text-danger"
                                            *ngIf="submitted && registerForm.controls.birthdate.errors?.['required']">
                                            Date of Birth is required
                                        </span>
                                    </div>
                                    <div>
                                        <input ngModel type="text" formControlName="mobilephonenumber"
                                            class="form-control  mt-4 shadow-none border border-3 border-start-0 border-end-0 border-top-0"
                                            placeholder="Mobile Phone Number" required>
                                        <span class="text-danger"
                                            *ngIf="submitted && registerForm.controls.mobilephonenumber.errors?.['required']">
                                            Mobile Phone Number is required
                                        </span>
                                    </div>
                                    <select formControlName="skill"
                                        class="form-select text-black-50  mt-4 shadow-none border border-3 border-start-0 border-end-0 border-top-0"
                                        required>
                                        <option value="">Skills</option>
                                        <option *ngFor="let skill of skillslist" [value]="skill.id"> {{skill.name}}
                                        </option>
                                    </select>
                                    <span class="text-danger"
                                        *ngIf="submitted && registerForm.controls.skill.errors?.['required']">
                                        Skills is required
                                    </span>
                                    <select formControlName="jobpreference" Name="preference"
                                        class="form-select text-black-50  mt-4 shadow-none border border-3 border-start-0 border-end-0 border-top-0"
                                        required>
                                        <option value="">Job Preference</option>
                                        <option *ngFor="let preference of preferencelist" [value]="preference.id">
                                            {{preference.name}}</option>
                                    </select>
                                    <span class=" text-danger"
                                        *ngIf="submitted && registerForm.controls.jobpreference.errors?.['required']">
                                        Job preference is required
                                    </span>
                                    <input ngModel formControlName="startofwork" type="date" id="startdate"
                                        class="form-control text-black-50  mt-4 shadow-none border border-3 border-start-0 border-end-0 border-top-0"
                                        required>
                                    <!-- <label
                                        class=" form-control mt-4 fs-6 text-black-50 shadow-none border border-3 border-start-0 border-end-0 border-top-0"
                                        for="startdate">Start of Date
                                        <mat-icon class="dateicon fs-5 text-primary" aria-hidden="false"
                                            aria-label="Example icon" fontIcon="calendar_today"></mat-icon>
                                    </label> -->
                                    <span class="text-danger"
                                        *ngIf="submitted && registerForm.controls.startofwork.errors?.['required']">
                                        Start of work is required
                                    </span>
                                    <div>
                                        <input ngModel formControlName="resume" type="file" id="resume"
                                            class="form-control d-none  mt-4  shadow-none border border-3 border-start-0 border-end-0 border-top-0"
                                            placeholder="Upload Resume">
                                        <label
                                            class=" form-control mt-4 fs-6 text-black-50 shadow-none border border-3 border-start-0 border-end-0 border-top-0"
                                            for="resume">Upload Resume
                                            <mat-icon class="icon fs-5 text-primary" aria-hidden="false"
                                                aria-label="Example icon" fontIcon="upload"></mat-icon>
                                        </label>
                                        <span class="text-danger"
                                            *ngIf="submitted && registerForm.controls.resume.errors?.['required']">
                                            Upload Resume is required
                                        </span>
                                    </div>
                                    <div>
                                        <input matInput
                                            class="form-control mt-4 shadow-none border border-3 border-start-0 border-end-0 border-top-0 "
                                            placeholder="Password" [type]="hide ? 'password' : 'text'"
                                            formControlName="password" required>
                                        <mat-icon class="eyeicon text-primary" matSuffix (click)="hide = !hide">{{hide ?
                                            'visibility_off' :
                                            'visibility'}}</mat-icon>
                                        <!-- <input ngModel formControlName="password" type="password" id="eyeicon"
                                            class="form-control mt-4 shadow-none border border-3 border-start-0 border-end-0 border-top-0 "
                                            placeholder="Password" required>
                                            <span for="eyeicon" class="eyeicon">
                                                <mat-icon matSuffix>visibility</mat-icon>
                                            </span> -->
                                        <span class="text-danger"
                                            *ngIf="submitted && registerForm.controls.password.errors?.['required']">
                                            password is required
                                        </span>
                                        <input
                                            class="form-control mt-4 shadow-none border border-3 border-start-0 border-end-0 border-top-0 "
                                            placeholder="Confirm Password" [type]="hide ? 'password' : 'text'"
                                            formControlName="confirmpassword" required>
                                        <mat-icon class="eyeicon text-primary" matSuffix (click)="hide = !hide">{{hide ?
                                            'visibility_off' :
                                            'visibility'}}</mat-icon>
                                        <!-- <input ngModel formControlName="confirmpassword" type="password"
                                            class="form-control  mb-2 mt-4 shadow-none border border-3 border-start-0 border-end-0 border-top-0"
                                            placeholder="Confirm Password" required> -->
                                        <span class="text-danger"
                                            *ngIf="submitted && registerForm.controls.confirmpassword.errors?.['required']">
                                            confirm password is required
                                        </span>
                                        <div
                                            *ngIf="registerForm.errors?.['passwordMismatchError'] && getControl('confirmpassword')?.touched">
                                            Passsword and Confirm Password didn't match.
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn1" data-tongle="button">Register</button>
                                    </div>
                                    <div class="para">
                                        <p class="text-center">By continuing your acknowledgement that you accept
                                            Virvit's <a class="text-decoration-none " href="#"> Privacy policies</a> and
                                            <a class="text-decoration-none" href="#"> Terms & Conditions</a>
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-8">
                        <img src="../assets/Candidate_Registration.png" alt="candidate"
                            style=" width: 735px;margin: 70px 200px;">
                    </div>
                </div>
            </div>
        </ng-template>
    </li>
    <li ngbNavItem>
        <a ngbNavLink>Employer Signup</a>
        <ng-template ngbNavContent>
            <div class="container-fluid">
                <div class="row mt-5">
                    <div class="col-5 mt-5 border border-primary border-bottom-0  employer">
                        <div class="mx-2">
                            <p class="text-primary text-center fs-4 mt-4 fw-bold">Journey To Find The Right Candidate!
                            </p>
                            <p class="text-center fs-5 text-secondary fw-bold">Create your employer's account now </p>
                            <form class="form-horizontal" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                                <input type="text"
                                    class=" form form-control mt-5 shadow-none border border-3 border-start-0 border-end-0 border-top-0"
                                    placeholder="Email/Login ID" required>
                                <span class="text-danger "
                                    *ngIf="submitted && registerForm.controls.email.errors?.['required']">
                                    Email/Login ID is required
                                </span>
                                <input type="text"
                                    class="form form-control mt-5 shadow-none border border-3 border-start-0 border-end-0 border-top-0"
                                    placeholder="Contact Person Names" required>
                                <span class="text-danger"
                                    *ngIf="submitted && registerForm.controls.firstname.errors?.['required']">
                                    Contect Person Name is required
                                </span>
                                <div>
                                    <input ngModel type="text" formControlName="mobilephonenumber"
                                        class="form-control  mt-4 shadow-none border border-3 border-start-0 border-end-0 border-top-0"
                                        placeholder="Mobile Phone Number" required>
                                    <span class="text-danger"
                                        *ngIf="submitted && registerForm.controls.mobilephonenumber.errors?.['required']">
                                        Mobile Phone Number is required
                                    </span>
                                </div>
                                <div>
                                    <input ngModel type="text" formControlName="mobilephonenumber"
                                        class="form-control  mt-4 shadow-none border border-3 border-start-0 border-end-0 border-top-0"
                                        placeholder="Registered Business Name" required>
                                    <span class="text-danger"
                                        *ngIf="submitted && registerForm.controls.firstname.errors?.['required']">
                                        Registered Business Name is required
                                    </span>
                                </div>
                                <div>
                                    <p class="para2 fw-bold text-secondary fs-7 mx-3 mt-4">By continuing your
                                        acknowledgement that you accept
                                        Virvit's</p>
                                    <p class="para2 fw-bold text-center text-secondary"> <a
                                            class="text-decoration-none"> Privacy policies</a> and
                                        <a class="text-decoration-none"> Terms & Conditions</a>
                                    </p>
                                </div>
                                <div class="d-grid">
                                    <button type="submit" class=" btn btn-primary mx-3 mt-4 mb-3">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-7">
                        <img class="image" src="./assets/employer_signup.png" alt="hiring-process2">
                    </div>
                </div>
            </div>
        </ng-template>
    </li>
</ul>
<div [ngbNavOutlet]="nav">
</div>
<app-footer></app-footer>